.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.fw {
  font-weight: bold;
}
.c-red {
  color: #ff0000;
}
.daima-box {
  text-align: left;
  background: #f6f8fa;
  color: #000;
  padding: 20px;
}